body {
  background-color: #faf9f6;
  padding: 0px;
  margin: 0px;
}

.App {
  height: 100vh;
}

.nav-container {
  display: flex;
  justify-content: end;
  background-color: hsl(36, 100%, 90%);
}

.nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 55%;
}

.todo-list-component {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background-color: hsl(36, 100%, 90%);
  width: 30%;
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 20px;
}

.todo-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}

.item-containter {
  margin: 10px;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  background-color: #888;
}

.item-containter:hover {
  cursor: pointer;
}

.add-item {
  text-align: center;
  background-color: aquamarine;
}

.add-item form {
  display: flex;
  align-items: center;
}

.add-item input {
  margin-right: 10px; /* Add spacing between input and button */
}

.stats-component {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.stats-container {
  display: flex;
  gap: 2em;
}

h2 {
  color: #555;
}
.todo-list-container::-webkit-scrollbar {
  width: 10px;
}

.todo-list-container::-webkit-scrollbar-track {
  background: #faf9f6;
  border-radius: 20px;
}

.todo-list-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.todo-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
